/* Encabezado */
.header {
    background-color: #004080;
    padding: 10px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title {
    color: white;
    margin: 0;
    font-size: 26px;
}
.header-button {
    background-color: white;
    color: #004080;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Cuerpo Principal */
.main-body {
    display: flex;
}
.left-column {
    width: 20%;
    padding: 10px;
}
.right-column {
    width: 80%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.main-graph-section {
    flex: 1;
    margin-bottom: 20px;
}
.main-graph {
    height: 400px;
}
.bottom-section {
    display: flex;
    padding-top: 10px;
}
.variables-section, .summary-section {
    width: 50%;
}
.variables-section {
    padding-right: 10px;
}
.summary-section {
    padding-left: 10px;
}

.custom-tabs {
    margin-top: 10px;
    max-width: 400px;
    
    font-size: 12px;
    text-align: center;
    align-items: center;
}

.custom-tab {
    color: #1e88e5 !important; /* Texto azul para no seleccionado */
    border: 2px solid #1e88e5 !important; /* Borde azul para no seleccionado */
    border-radius: 8px;
    padding: 8px 10px !important;
    margin-right: 10px;
    background-color: white !important; /* Fondo blanco para no seleccionado */
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.custom-tab:hover {
    background-color: #cfcfcf; /* Un azul claro al pasar el ratón */
    cursor: pointer;
}

.custom-tabs .custom-tab--selected { /* Estilo para la pestaña seleccionada */
    background-color: #1e88e5 !important;
    color: white !important;
    border: 2px solid #1e88e5 !important;
}
.DateRangePicker_picker {
    top: 100px !important; /* Ajusta este valor para mover el calendario más abajo */
}